# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{html, scss, js}]
charset = utf-8

# 2 space indentation
[*.{html, scss, js}]
indent_style = space
indent_size = 2

[Gemfile*]
indent_size = 2

[Rakefile]
indent_size = 2

# 4 spaces indentation

[*.md]
indent_size = 4